<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper" style="">
        <a href="" class="navbtn left">Numisma-List</a><b style="color:white!important;">|</b>
          <% if (user) { %>
            <a href="/users" class="navbtn">My Profile</a><b style="color:white!important;">|</b>
            <a href="/auth/logout" class="navbtn">Log Out</a>
          <% } else { %>
            <a href="/auth/google" class="navbtn nav-right">Log In using Google</a>
          <% } %>
        </ul>
      </div>
    </nav>
  </div>