<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="" class="brand-logo left">Numisma-List</a>
          <% if (user) { %>
            <a href="/users">My Profile</a>
            <a href="/auth/logout">Log Out</a>
          <% } else { %>
            <a href="/auth/google" class="nav-right">Log In using Google</a>
          <% } %>
        </ul>
      </div>
    </nav>
  </div>