<form action="/users/<%-user._id%>/lists" method="POST">
    <label>Coin Type:
    <select name="Coin_type">
        <option value="Coin">Coin</option>
        <option value="Medal">Medal</option>
        <option value="Token" selected>Token</option>
        <option value="Round">Round</option>
        <option value="Other">Other</option>
        </select>
    </label><br>
    <label>Collection Category:
        <select name="Coin_category">
        <option value="USA" selected>USA</option>
        <option value="World Coins">World</option>
        <option value="Ancient Coins">Ancient</option>
        <option value="Mixed">Mixed</option>
        <option value="Other">Other</option>
        </select>
</label><br>
<label>Collection Title:
    <input type="text" required pattern="[A-Za-z0-9\s]{1,}" name="List_title">
</label><br>
    <button type="submit" id="sub">Submit</button>
</form>