<table>
    <tr>
        <td></td>
        <td style="border-right:solid">List</td>
        <td>Total Coins</td>
    </tr>
    <% if(lists!=undefined){lists.forEach(lis => {%>
    <tr>
        <%if(user._id.toString()===lis.authorId.toString()){ %>
        <td>
            <form action="/lists/<%=lis._id%>?_method=DELETE" method="POST"><button type="submit" class="delbtn">X</button></form>
        </td>
        <%}%>
        <td colspan="2" style="border-right:solid;border-top:solid"><a href="/lists/<%= lis._id %>" class="alink"><%= lis.listTitle %></a></td>
        <td class="tside"><%= lis.coinsLink.length %></td>
    </tr><%
    })}else{%>
    <tr>
        <td colspan="2"><b>None</b></td>
    </tr><%}%>
</table>