body{
  text-align:center;
}
.navbar-fixed{
width:100vw;
}
.nav-wrapper{
  display:flex;
  flex-flow: row;
  justify-content: space-between;
  width:100vw;
}

#search-row form {
  padding-top: 20px;
  display:flex;
  flex-direction: row;
}