body{
  text-align:center;
  background-color:skyblue;
}
.navbar-fixed{
width:100vw;
}
.nav-wrapper{
  display:flex;
  flex-flow: row;
  justify-content: space-between;
  width:100vw;
}

#search-row form{
  padding-top: 20px;
  display:flex;
  flex-direction: row;
}
table{
  width:100vw;text-align: center;
}
td{
  border:none;padding:10px;
}
.ttop{border-left: solid;border-right:solid}
.tside{border-top:solid;}
.tcenter{border:solid;border-bottom:none;}
.tbottom{border-top:solid;}
.delbtn{background-color:lightcoral;border:none;border-radius:40%;color:white;}