body{
  text-align:center;
  background-color:silver!important;
}
.navbar-fixed{
width:100vw;
}
.nav-wrapper{
  display:flex;
  flex-flow: row;
  justify-content: space-between;
  width:100vw;
  background-color:rgb(84, 145, 165)!important;
}

#search-row form{
  padding-top: 20px;
  display:flex;
  flex-direction: row;
}
table{
  width:100%;text-align: center;
}
td{
  border:none;padding:10px;
}
a{
  color:whitesmoke!important;
}

.alink{text-decoration: underline white!important;}
.ttop{border-left: solid;border-right:solid}
.tside{border-top:solid;}
.tcenter{border:solid;border-bottom:none;}
.tbottom{border-top:solid;}
.delbtn{background-color:lightcoral;border:none;border-radius:40%;color:white;}
.navbtn{background-color:rgb(84, 145, 165);border:none;width:100%;height:100%;color:white!important;text-align: center;}
.navbtn:hover{background-color:white;color:rgb(84,145,165)!important;}
.card{width:90vw;background-color:rgb(84,145,165)!important;color:white;margin:4%;padding:1%;}