<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= usrlist.listTitle %></title>
    <link rel="stylesheet" href="../../stylesheets/style.css" />
</head>
<%- include("../partials/header") %>

<% if(user){ %><button href="#"
    onclick="let coin = document.getElementById('addcoin').style;if(coin.visibility==='visible'){coin.visibility='hidden'}else{coin.visibility='visible'}">Add a Coin</button>
    <div id="addcoin" style="visibility:hidden;"><%- include("../partials/coin") %></div><%}%>

<%- include("../partials/footer")%>