<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/style.css" />
</head>
<%- include("../partials/header") %>
<button href="#" onclick="let list = document.getElementById('newlist').style;if(list.visibility==='visible'){list.visibility='hidden'}else{list.visibility='visible'}">New List</button>
<div id="newlist"style="visibility:hidden;"><%- include("../partials/list")%></div>
<%- include("../partials/footer")%>